Package: enigma2-plugin-extensions-dreamplex
Version: 2.3.1
Description: Plex client for Enigma2 - fork with modern Plex Media Server fixes
Section: extra
Priority: optional
Maintainer: DonDavici, jbleyel, oe-alliance
Architecture: all
Homepage: https://github.com/oe-alliance/DreamPlex
Source: https://github.com/oe-alliance/DreamPlex
